# CAP my-bookshop
_out
*.db
connection.properties
default-*.json
node_modules/
target/

# Web IDE, App Studio
.che/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/

# Other
.DS_Store
*.orig
*.log

*.iml
*.flattened-pom.xml

# IDEs
# .vscode
# .idea
